@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

body {
    margin: 0px;
}

h1 {
	font-family: 'Oswald', sans-serif;

}

.body1{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.body1 .header1 .h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type= "password"]{
    border: 0;
    background-color: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #b70e21;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;

}

.box input[type = "text"]:focus, .box input[type= "password"]:focus {

    width: 280px;
    border-color: #ff6348;
    
}

.box .boton{
    border: 0;
    background: black;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ff6348;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

.box .boton:hover{
    background: #ff6348;

}


.box .boton a{
    text-decoration: none;
    color: white;
    list-style: none;
}


.boton li{
    list-style: none;
}

/* Modal class*/

.boxModal{
    min-width: 300px;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.219);
    text-align: center;
}

.boxModal h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.boxModal input[type = "text"], .boxModal input[type= "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #b70e21;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}

.boxModal input[type = "text"]:focus, .boxModal input[type= "password"]:focus {

    width: 220px;
    border-color: #ff6348;
    
}

.boxModal .botonModal{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ff6348;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

.boxModal .botonModal:hover{
    background: #ff6348;

}


.boxModal .botonModal a{
    text-decoration: none;
    color: white;
    list-style: none;
}


.botonModal li{
    list-style: none;
}

#welcome {
    margin-top: 23px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: small;
}

#topBtn {
  display: none; 
  position: fixed; 
  height: 47px;
  width: 50px; bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: white; 
  color: black; 
  cursor: pointer; 
  padding-bottom: 45px;
  border-radius: 100%; 
  font-size: 18px; 
  align-items: center;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.6);  
}
  
#topBtn:hover {
  background-color: #555;
  color: white;
}

.imgAbout {
  display: block; 
  margin: auto;
  width: 40%;
  
}

.h2-justify {
  text-align: justify;    
}
.h4-center {
    text-align: center;
}

.bmCatalogo {
    height: 90%;
    overflow:auto;
}

.bmRegistro{
    min-width: 300px;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    text-align: center;
}

.bmRegistro h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.bmRegistro input[type = "text"], .bmRegistro input[type= "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #b70e21;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}

.bmRegistro input[type = "text"]:focus, .bmRegistro input[type= "password"]:focus {

    width: 220px;
    border-color: #ff6348;
    
}

.bmRegistro .botonModal{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ff6348;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

.bmRegistro .botonModal:hover{
    background: #ff6348;

}

.bmOferta{
    min-width: 300px;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    text-align: center;
}

.bmOferta h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.bmOferta p {
    color: white;
}

.bmOferta .botonModal{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ff6348;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

.bmOferta .botonModal:hover{
    background: #ff6348;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.loguito {
    height: 90px;
    width: 100px;
}

.navButton {
   display: flex;
   gap: 10px;
}

.about-in {
   padding-top: 20px;
   padding-bottom: 20px;
   align-items: center;
   justify-items: center;
}
  
.about-in h2 {
   text-align: center;
}
  
.about-in img {
   width: 200px;
}

.carousel {
    width: 100%;
    height: auto;
    text-align: center;
}

.carousel img {
    height: 600px;
}